<div class="container">
    <div class="row top-20">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a [routerLink]="routeAddEntry.url" class="nav-link">Add</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="routeShowBudget.url" class="nav-link">Budget</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Settings</a> <!-- Währungssymbol und Sprache auswählen -->
                </li>
            </ul>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row top-20">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>